<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>userAction</servlet-name>
		<servlet-class>org.iblogger.action.UserAction</servlet-class>
	</servlet>
	
	<!-- <filter>
		<filter-name>pathFilter</filter-name>
		<filter-class>org.iblogger.action.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pathFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	
	<servlet-mapping>
		<servlet-name>userAction</servlet-name>
		<url-pattern>/userAction</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>
